.card{
  background-color: black;
  color: white;
  border: 1px solid white;
  min-width: 100%;
  min-height: 130px;

  .badge {
    font-size: 20px;
  }

  &.winner {
    background-color: green;
  }

  &.draw {
    background-color: grey;
  }
}